body {
    margin: 0%;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(images/hazy_background.png);
    position: relative;
}

.spotlight{ 
    margin-top: 17%;
    margin-left: 17%;
}
.container {
    margin: 1%;
    position: relative;
}

.bg-white {
background-color: #cccccc;
}

h1 {
background-color:#4aaaa5;
text-align: center;
color: white;
}

.fluid {
    width: 200px;
    height: 200px;
    display: block;
    flex-wrap: wrap;
}

.border-top {
    border-top-color: #4aaaa5;
    justify-items: center;
}
